body {
    /*font-family: 'Titillium Web', sans-serif;*/
    background-image: url("/images/chalkboard.jpg");
    background-size:cover;
}

.horizontal-half-transition .desktop-preview-sizer {
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}

.phone-preview-sizer.desktop-preview-sizer .image-container {
    width: 94%;
    top: 6%;
    left: 3%;
    bottom: 32%;
}

a.brand-logo {
    text-transform: uppercase;
    font-weight: 600;
    color: #1de9c3;
}

div.profile {
    height:325px;
}

.teal-text {
    color: #1de9c3 !important;
}

.teal {
    background-color: #1de9c3 !important;
}

.section.white {
    /*opacity: .95;*/
    background: rgba(255,255,255,.98) !important;
}

.section.white.container .container {
    width:95%;
}

.btn-floating.teal {
    background-color:#1de9c3;
}

nav .nav-wrapper, .page-footer {
    background: #2C2C2C;
    /*background: -moz-linear-gradient(to bottom, #333, #222);*/
    /*background: -ms-linear-gradient(to bottom, #333, #222);*/
    /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));*/
    /*background: -webkit-linear-gradient(to bottom, 333, #222);*/
    /*background: -o-linear-gradient(to bottom, #333, #222);*/
    /*background: linear-gradient(to bottom, #333, #222);*/
}

.page-container {
    margin-top:25px;
    max-width:1150px;
}

.measurables {
    height:325px;
}



div.fit, div.volume, div.support {
    height:200px;
}
div.row-title {
    background: #2C2C2C;
    background: -moz-linear-gradient(to bottom, #333, #222);
    background: -ms-linear-gradient(to bottom, #333, #222);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
    background: -webkit-linear-gradient(to bottom, 333, #222);
    background: -o-linear-gradient(to bottom, #333, #222);
    background: linear-gradient(to bottom, #333, #222);
    color:white;
    padding:30px;
}

#player-header {
    margin-bottom:50px;
}

#player-header > .m4 img.sleeper_img {
    width:100%;
}

#player-header > .m6 img.sleeper_img {
    width:80%;
}

.player-menu {
    position:fixed;
    top: 118px;
    bottom: 0px;
    right: 0px;
    width: 125px;
    position: fixed;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0px;
    height:100px;
    background:rgba(0,0,0,.80);
    color:white;
}

.player-menu a {
    color:white;
}

.player-takes {
    height:500px;
}

.player-stats {
    min-height:500px;
}

.card.small .card-image {
    max-height:82%;
    background-image: url(/img/favicon.png);
    /* background: no-repeat; */
    background-position: center;
    background-size: 100% 100%;
}

.measurables .card.small .card-image {
    max-height:88%;
}

#radar-graph {
    height:100%;
    transform: scale(1);
}

.player-card.card.small {
    height:344px;
}
.player-card-content  .btn-floating.halfway-fab {
    bottom:48px;
}

.player-card .card-content {
    padding:11px
}

.player-card div.card-content.player-card-content,  .player-card div.card-reveal.player-card-reveal {
    background: #2C2C2C;
    background: -moz-linear-gradient(to bottom, #333, #222);
    background: -ms-linear-gradient(to bottom, #333, #222);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
    background: -webkit-linear-gradient(to bottom, 333, #222);
    background: -o-linear-gradient(to bottom, #333, #222);
    background: linear-gradient(to bottom, #333, #222);
    color:white;
}

.player-card .carousel {
    height:280px;
}


#fit-graph, #volume-graph, #support-graph {
    height:100%;
    overflow:hidden;
}

div.skillset > div {
    height:123px;
}

.role-one-percentile, .role-two-percentile, .role-three-percentile {
    font-size:12px;
}
/*div.skillset div.progress {*/
    /*height:25px;*/
    /*-webkit-clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 100%);*/
    /*clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 100%);*/
/*}*/

.parallax-container {
    height: 300px;
}

.twitter-typeahead {
    width:400px;
}

.compare-search-field > .twitter-typeahead {
    width:300px;
}


.tt-menu {
    background:white;
    width:100%;
    padding:5px;
}

#college-stats_wrapper, #season-stats_wrapper, #game-logs_wrapper {
    overflow-x:scroll;
    font-size:15px;
}

#gradient-horizontal {
    --color-stop-1: #a770ef;
    --color-stop-2: #cf8bf3;
    --color-stop-3: #fdb99b;
}

.donut-inner {
    margin-top: -100px;
    margin-bottom: 100px;
}
.donut-inner h5 {
    margin-bottom: 5px;
    margin-top: 0;
}
.donut-inner span {
    font-size: 12px;
}

.dark .tt-suggestion {
    color: #0b0b0b;
}

.header h1.brand-logo {
    color: #1de9c3;
    font-size: 30px;
}

#radar-graph {
    width:400px;
    height:400px;
    margin:auto;
}

.measurables {
    height:auto;
}

.section.white h1, .section.white h2, .section.white h3, .section.white h4, .section.white h5 {
    font-family: 'Permanent Marker', cursive;
}

.section.full-height.search-section {
    height:800px;
}

.collapsible-body {
    overflow:auto;
}

table#summary-stats {
    border-bottom: none;
}

table#summary-stats tr {
    background:none;
}

table#summary-stats th, .percentile {
    text-align:center;
    font-size:12px;
    color:gray;
    text-transform: uppercase;
}
table#summary-stats > tbody > tr > td {
    text-align:center;
}

table#summary-stats thead th{
    border-bottom:none;
    padding:3px;
}

table#summary-stats > tbody > tr:nth-child(1) > td, .combine-score {
    font-size: 25px;
    text-transform: uppercase;
    padding:0px;
    font-style:italic;
    font-weight: bold;
}

table#summary-stats > tbody > tr:nth-child(2) > td, .combine-title {
    font-size: 13px;,
    text-transform: uppercase;
    font-weight:bold;
    padding:5px;
    color:gray;
}

table#summary-stats > tbody > tr:nth-child(2) > td::before {
    content:"#";
}

.article-sidebar {
    border-left: 5px solid #1de9c3;
}

.card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 99;
    background:rgba(0,0,0,.7);
}


@media only screen and (max-width: 600px) {
    .twitter-typeahead {
        width:300px;
        margin-bottom:80px;
    }

    .player-card.card.small {
        height: 295px;
    }

    .player-menu {
        display:none;
    }

    .player-stats {
        overflow:auto;
    }

    a.brand-logo, .header h1.brand-logo {
        font-size:20px;
    }

    #radar-graph {
        width:97%;
        margin:auto;
        height:100%;
    }

    .section.full-height.search-section {
        height:auto;
    }

}